<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Noitfication from Expensetracker, <%= @user.name %></h1>
    <p>
     
     Dear <%=@user.name%> , Your expense has been <%= @expense.is_accpted %>.<br>
    </p>
    <p>
      To see it in your app click on this link <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
